body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #212121;
}

h1, h2, h3, h4, h5, p, a, ul, li, button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #212121;
}

ul, li {
  list-style: none;
}

section {
  padding: 60px 15px;
}

.container {
  display: block;
  align-items: center;
  margin: 0  auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

h1 {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 382px) {
  h1 {
    font-size: 20px;
    line-height: 1.1;
    font-weight: 900;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 26px;
    line-height: 1.6;
    font-weight: 900;
    letter-spacing: 0.06em;
  }
}

h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 14px;
  line-height: 1.1;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

button {
  border: none;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.2;
  font-weight: bold;
  color: #2196F3;
}

.block-busines-tittle {
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 3px;
}

.block-busines-tittle h3 {
  margin-top: 0;
}

.modal-window {
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px;
}

.modal-window__close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 2;
}

.modal-window__close-btn:hover .modal-window__close-icon {
  fill: #2196F3;
}

.modal-window__close-btn .modal-window__close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__close-btn:hover {
  cursor: pointer;
}

.modal-window__form-tittle {
  font-size: 20px;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
}

.user-blank {
  width: 370px;
  margin: 12px auto 0 auto;
}

.user-blank__wrapper {
  display: block;
}

.user-blank__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-blank__item:not(:first-child) {
  margin-top: 10px;
}

.user-blank__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.user-blank__input {
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  height: 40px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
}

.user-blank__input:hover, .user-blank__input:focus {
  cursor: pointer;
  border-color: #2196F3;
  outline: none;
}

.user-blank__input:hover + .user-blank__icon,
.user-blank__input:focus + .user-blank__icon {
  fill: #2196F3;
}

.user-blank__coment {
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-blank__coment::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.user-blank__coment:hover, .user-blank__coment:focus {
  cursor: pointer;
  border-color: #2196F3;
  outline: none;
}

.user-blank__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.user-blank__chekbox-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-blank__checkbox-icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background: #fff;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-blank__checkbox-icon:hover {
  border-color: #2196F3;
}

.user-blank__checkbox-link {
  color: #2196F3;
}

.user-blank__checkbox {
  appearance: none;
  position: absolute;
}

.user-blank__checkbox:checked + .user-blank__checkbox-icon {
  border-color: #2196F3;
  background-image: url(.././images/agree-vector.svg);
  background-color: #2196F3;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}

.user-blank__checkbox-txt {
  font-size: 12px;
  line-height: 0.8;
  color: #757575;
  margin-left: 6px;
}

.user-blank__checkbox-link-wrapper {
  position: relative;
}

.user-blank__checkbox-link-wrapper {
  font-size: 12px;
  line-height: 0.8;
  margin-left: 2px;
}

.user-blank__checkbox-link-wrapper::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #2196F3;
  position: absolute;
  top: 100%;
  left: 0;
}

.user-blank__btn {
  margin: 0 auto;
}

.social-contacts-set {
  display: flex;
  justify-content: center;
}

.social-contacts-set li:not(:last-child) {
  margin-right: 10px;
}

.social-contacts-set__link {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-contacts-set__link:hover, .social-contacts-set__link:focus {
  background-color: #2196F3;
}

.social-contacts-set__link:hover .social-contacts-set__icon,
.social-contacts-set__link:focus .social-contacts-set__icon {
  fill: #fff;
}

.social-contacts-set__icon {
  fill: auto;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  transform: scale(0.3, 0.3);
  color: white;
  font-weight: bold;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid;
  border-color: #59a0da;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  border-color: #fff;
  cursor: pointer;
  background-color: #da5979;
}

.btn:active {
  border: 2px solid white;
  color: #000;
  background-color: #eb033d;
  font-weight: bolder;
}

@media screen and (min-width: 382px) {
  .btn {
    transform: scale(0.5, 0.5);
  }
}

@media screen and (min-width: 480px) {
  .btn {
    transform: scale(1, 1);
  }
}

.tab {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  padding: 6px 22px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tab:hover, .tab:focus {
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #fff;
  cursor: pointer;
}

header {
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__burger-menu-btn {
  width: 40px;
  height: 40px;
}

.header__burger-menu-btn:hover .header__burger-menu-icon {
  fill: #2196F3;
  cursor: pointer;
}

.logo__span--dark {
  color: #212121;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 0 0 10px 0;
  }
  .header__logo {
    margin-right: 88px;
    margin-top: 26px;
  }
  .header__burger-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
    padding: 0 15px 25px 15px;
    justify-content: center;
  }
  .header__logo {
    margin-top: 24px;
    margin-right: 93px;
  }
}

.contacts-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 25px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: translateX(-100%);
  opacity: 0;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  width: 100%;
}

.contacts-menu.active {
  transform: translateX(0);
  opacity: 1;
}

.contacts:not(:first-child) {
  margin-top: 32px;
}

.contacts__item-icon-mail, .contacts__item-icon-phone {
  margin-right: 8px;
}

.navigation__link {
  position: relative;
  font-size: 40px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196F3;
}

.navigation__link--active {
  color: #2196F3;
}

.navigation__link--active::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(26px);
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .navigation__link--active::after {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__link--active::after {
    transform: translateY(28px);
  }
}

.contacts__item-icon-phone,
.contacts__item-icon-mail {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.contacts__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

.contacts__link:hover .contacts__item-icon-phone,
.contacts__link:focus .contacts__item-icon-phone,
.contacts__link:hover .contacts__item-icon-mail,
.contacts__link:focus .contacts__item-icon-mail {
  fill: #2196F3;
}

.contacts__link--fz12-14-24px {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 500;
}

.contacts__link--fz12-14-34px {
  font-size: 34px;
  line-height: 1.17;
  font-weight: 500;
}

.contacts__link--fw18px {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
}

.social-links {
  margin-top: 64px;
  display: flex;
  flex-flow: row wrap;
}

.social-links li {
  padding-right: 10px;
  margin-right: 10px;
}

.social-links li:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.contacts-menu__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
}

.contacts-menu__close-btn .contacts-menu__close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-menu__close-btn:hover .contacts-menu__close-icon {
  fill: #2196F3;
}

.navigation__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts-menu {
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: static;
    z-index: 0;
    transform: translateX(0);
    opacity: 1;
    justify-content: space-between;
  }
  .contacts-menu .contacts-menu__close-btn, .contacts-menu .social-links {
    display: none;
  }
  nav {
    margin-top: 32px;
  }
  .navigation {
    display: flex;
  }
  .navigation__item {
    margin-top: 0;
  }
  .navigation__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
  .navigation__link {
    font-size: 14px;
    line-height: 1.17;
    font-weight: 500;
  }
  .contacts-wrapper {
    margin-top: 21px;
  }
  .contacts {
    display: block;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 8px;
  }
  .contacts__link--fz12-14-34px,
  .contacts__link--fz12-14-24px {
    font-size: 12px;
  }
  .contacts__item-icon-mail,
  .contacts__item-icon-phone {
    display: inline-block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-wrapper {
    margin-top: 32px;
  }
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .contacts__link--fz12-14-34px,
  .contacts__link--fz12-14-24px {
    font-size: 14px;
  }
  .contacts__item-icon-mail {
    width: 16px;
    height: 12px;
    transform: translateY(2px);
    display: inline-block;
  }
  .contacts__item-icon-phone {
    display: inline-block;
    height: 16px;
    transform: translateY(3px);
  }
}

.hero {
  background-image: url("../../images/herobackground/img overlay.png"), url("../../images/herobackground/hederBackgroundMin.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/herobackground/img overlay.png"), url("../../images/herobackground/background-mobile-2x-min.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../../images/herobackground/img overlay.png"), url("../../images/herobackground/hederBackgroundMiddle.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/herobackground/img overlay.png"), url("../../images/herobackground/background-tablet-2x-min.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("../../images/herobackground/img overlay.png"), url("../../images/herobackground/hederBackgroundMax.jpg");
  }
  .hero .hero__container {
    padding-top: 140px;
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../../images/herobackground/img overlay.png"), url("../../images/herobackground/background-desktop-2x-min.jpg");
  }
}

.hero__container {
  padding: 58px 45px;
}

.hero__btn {
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  background: rgba(47, 48, 58, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  pointer-events: none;
}

.backdrop.is-hidden {
  opacity: 1;
  pointer-events: inherit;
}

.skills__item:not(:last-child) {
  margin-bottom: 30px;
}

.skills__icon-place-wrapper {
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
}

.skills__text {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  margin-top: 10px;
}

@media screen and (min-width: 480px) {
  .skills__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .skills .skills__item {
    width: 354px;
  }
  .skills .skills__item h3 {
    text-align: left;
  }
  .skills .skills__item:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    flex-direction: row;
  }
  .skills .skills__item {
    width: 270px;
    margin-bottom: 0;
  }
}

.section-busines {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-busines {
    display: block;
    padding-top: 0;
  }
  .section-busines .busines {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-busines .busines .busines__item {
    position: relative;
  }
}

.team__item {
  width: 100%;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__photo {
  width: 100%;
}

.team__info-wrapper {
  padding-bottom: 24px;
  padding-top: 30px;
  background-color: #fff;
}

.team__info-wrapper .team__name {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.team__info-wrapper .team__position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.social-contacts-set__icon--grey-color {
  fill: #AFB1B8;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .team__item {
    max-width: 354px;
  }
  .team__item:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    flex-direction: row;
  }
  .team .team__item {
    max-width: 270px;
    margin-bottom: 0;
  }
  .team__info-wrapper {
    padding-bottom: 30px;
  }
}

.clients {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.clients li:not(:last-child) {
  margin-bottom: 30px;
}

.clients__link {
  border: 1px solid;
  border-color: #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 52px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196F3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: auto;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .clients li:nth-child(n + 5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    padding: 16px 60px;
  }
  .clients li:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    padding: 16px 32px;
  }
  .clients li {
    margin-bottom: 0px;
  }
}

footer {
  padding: 60px 0;
  background-color: #2F303A;
}

footer h3 {
  margin-bottom: 20px;
}

footer .footer__contacts-wrapper,
footer .footer__contacts-social-links {
  margin-bottom: 60px;
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.logo__span--light {
  color: #fff;
}

.contacts-list {
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
}

.contacts-list li a {
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-list li:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-list__element--light {
  color: #fff;
}

.footer__tittle {
  color: #fff;
}

.social-contacts-set__link--backgroundlight {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-contacts-set__icon--color-light {
  fill: #fff;
}

.subscribe-form__elements {
  position: relative;
  margin-bottom: 20px;
}

.subscribe-form__input {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
}

.subscribe-form__input:focus + .subscribe-form__label {
  opacity: 0;
}

.subscribe-form__input:not(:placeholder-shown) + .subscribe-form__label {
  opacity: 0;
}

.subscribe-form__label {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.footer__btn {
  margin: 0 auto;
}

.footer__btn .btn__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  .footer__container .footer__contacts-wrapper {
    margin-right: 165px;
    margin-bottom: 0;
  }
  .footer__container .footer__contacts-social-links {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer__container .footer__subscribe {
    margin-top: 60px;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  footer {
    padding-top: 0;
  }
  footer h3 {
    text-align: left;
  }
  .footer__container {
    flex-flow: row;
    align-items: flex-start;
  }
  .footer__container .footer__contacts-wrapper {
    margin-right: 70px;
    margin-top: 60px;
  }
  .footer__container .footer__contacts-social-links {
    margin-top: 72px;
    margin-bottom: 0;
  }
  .footer__container .footer__subscribe {
    margin-top: 72px;
    width: 570px;
  }
  .subscribe-form {
    display: flex;
    justify-content: space-between;
  }
  .subscribe-form .subscribe-form__elements {
    width: 100%;
    max-width: 358px;
  }
  .subscribe-form .footer__btn {
    margin-left: 12px;
  }
  .contacts-list, .footer__logo {
    text-align: left;
  }
  .contacts-list .contacts-list li a, .footer__logo .contacts-list li a {
    text-align: left;
  }
  .footer__contacts-social-links {
    margin-right: 93px;
  }
}

.tabs {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
}

.tabs li:not(:last-child) {
  margin-right: 8px;
}

.tabs li:nth-child(n + 4) {
  margin-top: 10px;
}

.card:hover .card__image-wrapper::before,
.card:hover .card__overlay-txt {
  transform: translateY(-100%);
}

.card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__image-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card__image {
  width: 100%;
}

.card__image-wrapper::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  top: 100%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__overlay-txt {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
}

.card__tittles-wrapper {
  padding: 20px 24px;
  border-top: none;
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  border-left: 1px solid #EEE;
}

.card__production {
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card__category {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  margin-top: 10px;
}

.galarry {
  margin-top: 40px;
}

.gallary__item {
  width: 100%;
}

.gallary__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .gallary__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .tabs {
    justify-content: center;
  }
  .tabs li:nth-child(n + 4) {
    margin-top: 0px;
  }
  .galarry {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .galarry .gallary__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .gallary__item {
    max-width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */