.contacts-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 25px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    @include anim-p (transform);
    z-index: 1;   
    width: 100%;
    &.active {
        transform: translateX(0);
        opacity: 1;
    }
}
.contacts {

    &:not(:first-child) {
        margin-top: 32px;
    }   
}
.contacts__item-icon-mail, .contacts__item-icon-phone {
    margin-right: 8px;
}
.navigation__link {
    position: relative;
    @include txt-p (40px, 1.17);
    letter-spacing: 0.02em;
    @include anim-p (color);
    &:hover, &:focus {
        color: $Aqua-color;
    }
}
.navigation__link--active {
    color: $Aqua-color;
    &::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color:$Aqua-color;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(26px);
        opacity: 0;
        @media screen and (min-width: 768px) {
            opacity: 1;
        }
        @media screen and (min-width: 1200px) {
            transform: translateY(28px);  
        }

    }
}
.contacts__item-icon-phone, 
.contacts__item-icon-mail {
    @include anim-p (fill);
    display: none;
}
.contacts__link {
    &:hover, &:focus {
        color: $Aqua-color; 
    }
    @include anim-p (color);
    letter-spacing: 0.02em;
    color: #757575;
    &:hover .contacts__item-icon-phone,
    &:focus .contacts__item-icon-phone,
    &:hover .contacts__item-icon-mail,
    &:focus .contacts__item-icon-mail {
        fill: $Aqua-color; 
    }  
}
.contacts__link--fz12-14-24px{
    @include txt-p (24px, 1.16);
}
.contacts__link--fz12-14-34px {
    @include txt-p (34px, 1.17);
}
.contacts__link--fw18px {
    @include txt-p (18px, 1.22);
}
.social-links {
    margin-top: 64px;
    display: flex;
    flex-flow: row wrap;
    & li {
        padding-right: 10px;
        margin-right: 10px;
        
    }
    & li:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    & li a {
        color: $Aqua-color;
    }
}
.contacts-menu__close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;
    & .contacts-menu__close-icon {
        @include anim-p (fill);
    }
    &:hover .contacts-menu__close-icon {
        fill: $Aqua-color;
    }
}
.navigation__item:not(:last-child),
.contacts__item:not(:last-child) {
    margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
    .contacts-menu {
        flex-direction: row;
        margin: 0;
        padding: 0;
        position: static;
        z-index: 0;
        transform: translateX(0);
        opacity: 1;
        justify-content: space-between;
        .contacts-menu__close-btn, .social-links {
            display: none;
        }       
    }
    nav {
        margin-top: 32px;
    }
    .navigation {
        display: flex;      
    }
    .navigation__item {
        margin-top: 0;
        &:not(:last-child) {
            margin-bottom: 0;
            margin-right: 50px;
        }            
    }
    .navigation__link {
        @include txt-p (14px, 1.17);
    }  
    .contacts-wrapper {
        margin-top: 21px;
    }
    .contacts {        
        display: flex;
        flex-direction: column-reverse;      
    }  
    .contacts__item:not(:first-child) {
        margin-bottom: 8px;
    }
    .contacts__item:not(:last-child) {
        margin-bottom: 0;
    }
    .contacts__link--fz12-14-34px,
    .contacts__link--fz12-14-24px {
         font-size: 12px;
    }   
    .contacts__item-icon-mail,
    .contacts__item-icon-phone {
        display: inline-block;
    }
}
@media screen and (min-width: 1200px) {
    .contacts-wrapper {
        margin-top: 32px;
    }
    .contacts {
       flex-direction: row-reverse; 
    }
    .contacts__item:not(:last-child) {
        margin-bottom: 0;
    }
    .contacts__item:not(:first-child){
        margin-right: 30px;
    }
   .contacts__link--fz12-14-34px,
   .contacts__link--fz12-14-24px {
        font-size: 14px;
    } 
   .contacts__item-icon-mail {
       width: 16px;
       height: 12px;
       transform: translateY(2px);
       display: inline-block;
   }
   .contacts__item-icon-phone {
        display: inline-block;
       height: 16px;
       transform: translateY(3px);
   }
}

