.contacts-menu {
    padding: 48px 25px;
    position: absolute;
    top: 0;
    right: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    @include anim-p (transform);
    z-index: 1;
    
}
.contacts {
    margin-top: 302px;
    .contacts__item:not(:first-child) {
        margin-top: 32px;
    }
    
}
@media screen and (min-width: 768px) {
    .contacts-menu, .navigation, .contacts {
        display: flex; 
    }
    .contacts-menu {
        position: static;
        z-index: 0;
        transform: translateX(0);
        justify-content: space-between;
        background-color: aqua;
        .contacts-menu__close-btn, .social-links {
            display: none;
        }
    }
   
    .navigation {
        .navigation__item:not(:first-child) {
            margin-top: 0;
        }
       .navigation__link {
            @include txt-p (14px, 1.17);
            color: brown;
        }
    }
    .contacts {
        background-color: brown;
        margin-top: 0px;
        .contacts__link--fz12-34px {
            @include txt-p (12px, 1.17);
        } 
        .contacts__link--fz12-24px {
            @include txt-p (12px, 1.17); 
        }
        .contacts__item:not(:first-child) {
            margin-top: 0px;
        }
    }
    
    
    
}
.navigation__item:not(:first-child) {
    margin-top: 38px;
}
.navigation__link {
    @include txt-p (40px, 1.17);
    letter-spacing: 0.02em;
    @include anim-p (color);
    &:hover, &:focus {
        color: $Aqua-color;
    }
}
.navigation__link--active {
    color: $Aqua-color;
}





.contacts__link {
    &:hover, &:focus {
        color: $Aqua-color; 
    }
    @include anim-p (color);
    letter-spacing: 0.02em;
    color: #757575;;
}
.contacts__link--fz12-24px{
    @include txt-p (24px, 1.16);
}



.contacts__link--fz12-34px {
    @include txt-p (34px, 1.17);
}
.contacts__link--fw18px {
    @include txt-p (18px, 1.22);
}



.social-links {
    margin-top: 64px;
    display: flex;
    & li {
        padding-right: 10px;
        margin-right: 10px;
    }
    & li:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
}
.contacts-menu__close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;
    & .contacts-menu__close-icon {
        @include anim-p (fill);
    }
    &:hover .contacts-menu__close-icon {
        fill: $Aqua-color;
    }
}

