header {
    width: 100%;
    margin: auto;
    border-bottom:1px solid #ECECEC;
    
}
.header__container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}

.header__burger-menu-btn {
    width: 40px;
    height: 40px;
    &:hover .header__burger-menu-icon{
        fill: $Aqua-color;
        cursor: pointer;
    }
}
.logo__span--dark {
    color: $Dark-color;
}


@media screen and (min-width: 768px) {
    .header__container {
        padding: 0 0;
    }
    .header__logo {
        margin-right: 88px;
    }
    .header__burger-menu-btn {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .header__container {
        width: 1200px;
        padding: 0 15px 0 15px;
        justify-content: center;
        
    } 
    .header__logo{
        margin-right: 93px;
    }
}