.hero {
    background-image: url('../../images/herobackground/img\ overlay.png'), url('../../images/herobackground/hederBackgroundMin.jpg'), ;
    background-size: cover;
   @media screen and (min-width: 480px) {
    background-image: url('../../images/herobackground/img\ overlay.png'), url('../../images/herobackground/hederBackgroundMin.jpg'), ;
    background-size: cover;
  }
  @media screen and (min-width: 768px) {
    background-image: url('../../images/herobackground/img\ overlay.png'), url('../../images/herobackground/hederBackgroundMiddle.jpg'), ;
    background-size: cover;
  }
  @media screen and (min-width: 1200px) {
    background-image: url('../../images/herobackground/img\ overlay.png'), url('../../images/herobackground/hederBackgroundMax.jpg'), ;
    background-size: cover;
    .hero__container {
      padding-top: 140px;
      padding-bottom: 140px;
    }
  }
}
.hero__container {
    padding: 58px 45px;

}
.hero__btn {
    margin: 0 auto;
} 
.backdrop {
    position: fixed;
    background: rgba(47, 48, 58, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    @include anim-p (opacity);
    z-index: 1;
    pointer-events: none;
}
.backdrop.is-hidden {
    opacity: 1;
    pointer-events: inherit;
}