.hero {
   background-image: url('../../images/hero-background.jpg');
   background-repeat: no-repeat;
   background-size: cover;

}
.hero__container {
    padding: 58px 45px;

}
.hero__btn {
    margin: 0 auto;
} 