.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/herobackground/hederBackgroundMin.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    @media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/herobackground/background-mobile-2x-min.jpg');
    }
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/herobackground/hederBackgroundMiddle.jpg');
      
    }
    @media screen and (min-width: 768px), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(27, 27, 29, 0.4)), url('../images/herobackground/background-tablet-2x-min.jpg');
    
    }
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/herobackground/hederBackgroundMax.jpg');
      
      .hero__container {
        padding-top: 140px;
        padding-bottom: 140px;
      }
    }
    @media screen and (min-width: 1200px), (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/herobackground/background-desktop-2x-min.jpg');
      
    }
}


.hero__container {
    padding: 58px 45px;

}
.hero__btn {
    margin: 0 auto;
} 
.backdrop {
    position: fixed;
    background-color: rgba(47, 48, 58, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    @include anim-p (opacity);
    z-index: 1;
    pointer-events: none;
}
.backdrop.is-hidden {
    opacity: 1;
    pointer-events: inherit;
}