.skills__item:not(:last-child) {
    padding-bottom: 30px;
}
.skills__icon-place-wrapper {
    height: 120px;
    @include dfcc;
    background-color: #F5F4FA;
}


.skills__text {
    font-size: 14px;
    line-height: 1.7;
    color: $Graphite-color;
    margin-top: 10px;
}
