.skills__item:not(:last-child) {
    margin-bottom: 30px;
}
.skills__icon-place-wrapper {
    margin-bottom: 30px;
    height: 120px;
    @include dfcc;
    background-color: #F5F4FA;
}


.skills__text {
    font-size: 14px;
    line-height: 1.7;
    color: $Graphite-color;
    margin-top: 10px;
}
@media screen and (min-width: 480px) {
    .skills__item {
        width: 450px;
      
    }

}
@media screen and (min-width: 768px) {
    .skills {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .skills__item {
            width: 354px;
            &:nth-child(n + 3){
                margin-bottom: 0;
            }  
        }
    }

}
@media screen and (min-width: 1200px) {
    .skills {
        flex-direction: row;
        .skills__item {
             width: 270px;
             margin-bottom: 0;
            
        }
    }
}
  