
address {
    margin-top: 20px;
    font-style: normal;
}
.contacts-list {
    display: block;
    font-size: 14px;
    line-height: 1.7;
    & li:not(:first-child) {
        margin-top: 9px;
    }
    & a {
        color: #ACACB0;
    }
}
.contacts-list__contact_light {
    color: #fff;
}



.footer-container__tittle {
    margin: 0 auto 20px auto;
}
.footer-container__contacts-social-links {
    margin-right: 93px; 
    padding-top: 12px;
    color: #FFFFFF;
    fill: #FFFFFF;
}
.social-contacts-set__link_backgroundlight {
   
    background: rgba(255, 255, 255, 0.1);
}