body {
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    color:$Dark-color;
    
    }
  
  h1,h2,h3,h4,h5,p,a,ul,li,button {
      margin: 0;
      padding: 0;
  }

  a {
    text-decoration: none;
    color: #212121;
}
ul, li {
    
    list-style: none;
    
}

section {
    background-color: pink;
    padding: 60px 15px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
      }
    
}
.container {
    display: block;
    align-items: center;
    margin: 0  auto;
    width: 100%;
    @media screen and (min-width: 480px){
       max-width: 450px; 
    }
    
    @media screen and (min-width: 768px){
       max-width: 738px;
     }
     @media screen and (min-width: 1200px){
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
      }
}   



h1 {
    margin-bottom: 30px;
    @include txt-p (14px, 1.1, 700);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    @media screen and (min-width: 382px) {
        @include txt-p (20px, 1.1, 900); 
        letter-spacing: 0.03em; 
    }
    @media screen and (min-width: 480px) {
        @include txt-p (26px, 1.6, 900); 
        letter-spacing: 0.06em; 
    }
    
}
h2 { 
    @include txt-p (28px, 1.17, bold);
        text-align: center;
        margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        @include txt-p (36px, 1.2, bold); 
        margin-bottom: 50px;  
    }
    
}
h3 {
    @include txt-p (14px, 1.1, bold);
        text-transform: uppercase;
        text-align: center;
    
}
button {
    border: none;
    background-color: #FFFFFF;
    box-sizing: border-box;
    
}