body {
    margin: 0;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    color:$Dark-color;
    
    }
  
  h1,h2,h3,h4,h5,p,a,ul,li,button {
      margin: 0;
      padding: 0;
  }

  a {
    text-decoration: none;
    color: #212121;
}
ul, li {
    
    list-style: none;
    
}

section {
    background-color: pink;
    padding: 60px 15px;
}
.container {
    display: block;
    align-items: center;
    margin: 0  auto;
    background-color: rgb(226, 74, 201);
    width: 450px;
    
}   



h1 {
    margin-bottom: 30px;
    @include txt-p (26px, 1.6, 900);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}
h2 { 
    @include txt-p (36px, 1.2, bold);
    text-align: center;
    margin-bottom: 30px;

}
h3 {
    @include txt-p (14px, 1.1, bold);
    margin-top: 30px;
    text-transform: uppercase;
    text-align: center;
    
}
button {
    border: none;
    background-color: #FFFFFF;
    box-sizing: border-box;
    
}