.card {
    // margin-right: 30px;
    // margin-bottom: 30px;
    &:hover .card__image-wrapper::before,
    &:hover .card__overlay-txt {
        transform: translateY(-100%);
    }
    // &:nth-child(3n + 3) {
    //     margin-right: 0;
    // }
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.card__image-wrapper {
    position: relative;
    overflow: hidden;
}
   
.card__image-wrapper::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    top: 100%;
    @include anim-p (transform);
}



.card__overlay-txt {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    @include dfcc;
    @include anim-p (transform);
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
}



.card__image {
    display: flex;
    width: 450px;
    height: 295px;
}



.card__tittles-wrapper {
    padding: 20px 24px;  
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-left: 1px solid #EEE;
    
}

.card__production {
    
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card__category {
    font-size: 14px;
    line-height: 1.7;
    color: #757575;
    margin-top: 10px; 
}
