.btn {
    
    @include dfcc;
    width: 200px;
    height: 50px;
    transform: scale(0.3, 0.3);
    color: white;
    font-weight: bold;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid;
    border-color: #59a0da;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 2500ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover, &:focus  {
        border-color:#fff;
        cursor: pointer;
        background-color: #da5979;
    }   
     
    &:active {
        border:2px solid rgb(255, 255, 255);
        color:#000;
        background-color: #eb033d;
        font-weight: bolder;
    }   
    @media screen and (min-width: 382px) {
        transform: scale(0.5, 0.5);
    }      
    @media screen and (min-width: 480px) {
        transform: scale(1, 1);
        
      }
}
