.team__photo {
    width: 100%;
    height: 460px;

}


.team__info-wrapper {
    padding: 30px 0;
    .team__name {
        @include txt-p(16px, 1.2, 500);
        text-align: center;
        margin-bottom: 10px;
    }
    .team__position {
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        color: #757575;
        margin-bottom: 16px;
    } 
}